@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: lightblue;
}

body {
  min-height: 100vh;
  color: lightblue;
  background: rgb(40, 52, 52);
  ;
  background-image:
    url("/public/assets/bucketListBg.jpg");
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  background-color: none;
  border: none;
  text-shadow: -1px -1px 0 rgb(3, 50, 37), 1px -1px 0 rgb(3, 50, 37), -1px 1px 0 rgb(3, 50, 37), 1px 1px 0 rgb(3, 50, 37);
}

.btn:hover {
  -webkit-animation: 1s ease-in-out infinite alternate glow;
  -moz-animation: 1s ease-in-out infinite alternate glow;
  animation: 1s ease-in-out infinite alternate glow;
}

.btn-success {
  color: rgb(16 185 129);
}

.btn-success:hover {
  color: rgb(110 231 183);
}

.btn-warn {
  color: rgb(254 240 138);
}

.btn-warn:hover {
  color: rgb(254 249 195);
}

.btn-check {
  color: rgb(254, 200, 138);
}

.btn-check:hover {
  color: rgb(254 200 195);
}

.btn-danger {
  color: rgb(239 68 68);
}

.btn-danger:hover {
  color: rgb(252 165 165);
}

.btn-info {
  color: rgb(34 211 238);
}

.btn-info:hover {
  color: rgb(165 243 252);
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #86ccd025, 0 0 2px #86ccd025, 0 0 3px #86ccd025, 0 0 4px #86ccd025, 0 0 5px #86ccd025, 0 0 6px #86ccd025, 0 0 7px #86ccd025;
  }

  to {
    text-shadow: 0 0 4px #86ccd025, 0 0 6px #86ccd025, 0 0 8px #86ccd025, 0 0 10px #86ccd025, 0 0 12px #86ccd025, 0 0 14px #86ccd025, 0 0 16px #86ccd025;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #86ccd025, 0 0 2px #86ccd025, 0 0 3px #86ccd025, 0 0 4px #86ccd025, 0 0 5px #86ccd025, 0 0 6px #86ccd025, 0 0 7px #86ccd025;
  }

  to {
    text-shadow: 0 0 2px #86ccd025, 0 0 3px #86ccd025, 0 0 4px #86ccd025, 0 0 5px #86ccd025, 0 0 6px #86ccd025, 0 0 7px #86ccd025, 0 0 8px #86ccd025;
  }
}

.text-outline {
  text-shadow: -2px -2px 1 #00000059, 2px -2px 1 #00000059, -2px 2px 1 #00000059, 2px 2px 1 #00000059;
}

.text-outline-sm {
  text-shadow: -1px -1px 0 #00000059, 1px -1px 0 #00000059, -1px 1px 0 #00000059, 1px 1px 0 #00000059;
}